/* обнуление */

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* -------------------------- */
body {
  font-family: 'Roboto', sans-serif;

  background: #a0e07d;
}
.contaiter {
  max-width: 900px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}
/* ------------------------------------- */
.join__wrapper,
.chat__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

input {
  height: 40px;
  width: 270px;
  padding: 0px 15px;
  margin: 10px 0px;
  border: 1px solid rgb(65, 61, 61);
  border-radius: 5px;
  background: #f2f2f2;
}

.btn {
  margin: 10px 0px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  background: #4caf50;
  color: #fff;
}

.join__btn {
  width: 270px;
}
/* ------------------------------------- */

.chat__messages {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  padding: 20px;
  overflow: auto;
}

.chat__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chat__form input {
  width: 100%;
  margin: 5px 0px;
}

.msg {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.my-msg {
  align-items: flex-start;
}

.alien-msg {
  align-items: flex-end;
}

.msg__name {
  font-size: 11px;
  min-width: 30px;
  background: grey;
  padding: 2px 3px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
}

.msg__text {
  background: #4caf50;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  margin-top: 2px;
}
.msg__text-alien {
  background: #786be9;
}
